
export PGHOST="/tmp"
export WALE_S3_PREFIX={{ postgresql_wale_s3_prefix }}
export AWS_REGION={{ postgresql_aws_region }}
export AWS_ACCESS_KEY_ID={{ postgresql_aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ postgresql_aws_secret_access_key }}

